body{
    background-image: url(../images/04.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
        /*background-color: #C0C0C0;*/
}
#enterKey {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    font-size: 16px;
}
#main_menu{
    padding-left: 0%;
    list-style: none;/*不要點點*/
    text-align: center;/*置中*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main_menu li{
    display: inline-block;/*排成一列*/
    margin-right: 20px;
}
#main_menu li a{
    display: block;/*區塊*/
    padding: 5px 20px;/*間距*/
    font-size: 18px;/*字體尺寸*/
    text-decoration: none;/*不要底線*/
    color: #194955;/*顏色固定*/
    font-weight: bold;

}   
#main_menu li:last-child {
margin-right: 0; /* 最後一個項目不要右邊的間距 */
}
#main_menu li a:hover{/*當鼠標移過去時，選項會變色*/
color: #f49227;
text-decoration: underline;
}
 /*auto是自動的意思
    margin是外間距
    text center是文字置中，在那之前需h1之類的指定哪裡置中*/
.box{
    width: 1020px;
    background-color: #749B86;
    margin: 5px auto;
    padding: 25px;
    border-radius: 5px;
    height: 100px;
}
.content_block{
        width: 1020px;
        background-color: aliceblue;
        margin: 7px auto;
        padding: 25px;
        border-radius: 5px;
}
.Narrative_content{
    width: 1020px;
    background-color: aliceblue;
    margin: 7px auto;
    padding: 25px;
    border-radius: 5px;
}
h1 {
    text-align: center;
    color: #194955;
    margin: 0 auto; 
    border-bottom: 1px solid #194955; 
    padding-bottom: 8px; 
    font-size: 30px;
}
h2 {
    color: #194955;
    margin: 0 auto; 
    border-bottom: 1px solid #194955; 
    padding-bottom: 8px; 
}

p{
    text-align: left;
    margin-bottom: 20px 
}
img {
    max-width: 100%; 
    width: 15%;
    height: auto; 
    float: left;
    margin-left: 0px; 
}
.gif{
    max-width: 100%; 
    width: 25%;
    height: auto; 
    float: right;
    margin-left: 20px; 
}
.horizontal{
    max-width: 100%; 
    width: 50%;
    height: auto; 
    float: right;
    margin-left: 20px; 
}
.horizontal_b{
    max-width: 100%; 
    width: 40%;
    height: auto; 
    float: right;
    margin-left: 20px; 
}
.main{
    max-width: 100%; 
    width: 30%;
    height: auto; 
    float: right;
    margin-left: 20px;
}
#floating-image {
    position: fixed;
    top: 50%; /* 距離視窗頂部的距離，可以根據需要調整 */
    right: 20px; /* 距離視窗右側的距離，可以根據需要調整 */
    transform: translateY(-50%);
    max-height: 80vh; /* 限制最大高度，可以根據需要調整 */
}

.fixed_div {
    background-color: #749B86;
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
}

.fixed_div a {
    font-size: 40px;
    padding: 20px;
    text-decoration: none;
    color: #ffffff; 
    transition: color 0.3s ease; /* 添加颜色变化的过渡效果 */
}

.fixed_div a:hover {
    color:  #f49227;/* 鼠标悬停时的颜色 */
}